{% extends "base.html" %}


{% load account socialaccount %}

{% block main_page %}
{% get_providers as socialaccount_providers %}

{% include "socialaccount/snippets/login_extra.html" %}


<div class = "d-flex justify-content-center ">
    <div class="box">
        <h2>Необходимо войти в систему</h2>
        <p>Для продолжения воспользуетесь своим аккаунтом "ВКонтакте" </p>
        <a href = "/accounts/vk/login/?process=login"><input type="submit" name="sign-in" value="Войти"></a>
    </div>
</div>

{% endblock %}
