{% extends "base.html" %}
{% block main_page %}
{% load static %}
    <div class="home category-card" style="background-image: url('{{main_photo}}')">
    {% block main_content %}
        <div class="container">
            <div class="hero-content">
                <h1><span class="typed" data-typed-items="Привет!<br>, Я Леша, И я разработчик<br>, Но также и фотограф =)"></span></h1>
                <div class="row">
                    <!-- TODO: Fix 1st button-->
                   <a href = "#{{ categories.first.id }}" class = "btn btn-outline-light btn-white fade-in">Смотреть Работы</a>
                   <a href = "{% url 'personal-area' %}" class="btn btn-outline-light btn-white fade-in">Выбрать Фото</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

{% endblock %}