<header id="header" class="fixed-top {% if navbar_show %} header-scrolled{% endif %} ">

    <div class="container d-flex align-items-center justify-content-between{% if navbar_show %} header-scrolled{% endif %} " >
        <p class="logo">
            {{right_text}}
        </p>
        <nav id="navbar" class="navbar">
            <ul>
                <!--
                <li><a class="nav-link scrollto" href="#hero">Обо мне</a></li>
                -->
                <li><a class="nav-link scrollto" href="#about">Вход</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>