{% extends "base_with_image.html" %}

{% block main_content %}
    <element class="overlay">
        <h2 class="display-1 my-auto text-center"><span class="typed" data-typed-items="{{ object.name }}"></span>
        <div class="row text-center">
            <div class="col">
                <p style="color: whitesmoke">Выбрано <span class="count">{{ object.chosen|length }}</span> из {{ object.num_choose }} снимков</p>
            </div>
            <div class="col">
                 <p style="color: whitesmoke">{{ object.date}}</p></span>
            </div>

        </div>
        </h2>
    </element>
{% endblock %}

{% block content %}
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Выбор Фото</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Вы выбрали <span class="count">{{ object.chosen|length }}</span> из {{ object.num_choose }}
                        снимков.
                        <br>
                        <span id="warning"></span>
                    </p>
                    <input type="text" class="form-control" id="comment"
                           placeholder="Напишите сюда, если есть какие-то пожелания :)" {% if object.comment != "None" %}
                           value="{{ object.comment }}" {% endif %}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-all btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" id="confirm" class="btn btn-all  btn-primary">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>


<div class="container">
    <div class="photo-gallery mt-4">
        {% if object.state == 3 %}
            <h3>Вы выбрали уже фотографии. Чтобы изменить выбор, напишите фотографу</h3>
            <br>
        {% endif %}
            <div class="row">
                {% for photo in allPhoto %}
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="{{ photo.get_url }}" data-lightbox="photos" liked{% if photo.name in object.chosen %}="1"{% endif %}><img class=" shadow-sm bg-white rounded img-fluid" loading="lazy" src="{{ photo.get_url }}" alt=""></a>
                    <button class="btn-small btn-photo like {% if photo.name in object.chosen %} liked{% endif %}" data="{{ photo }}"><i class="bi bi-heart-fill"></i></button>
                </div>
                {% endfor %}
            </div>

    </div>
    <div class = "d-flex justify-content-center mb-4">
        {% if object.state == 4 %}
        <button type="button" class="btn btn-all btn-next" data-bs-toggle="modal" data-bs-target="#Modal">
          Продолжить
        </button>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block script %}
<script>
$(function() {
    UpdateText({{ object.chosen|length }});
    $('#confirm').on('click', function () {
        $.ajax({
            url: '{% url 'like-confirm' %}',
            type: 'POST',
            data: {
                photoshoot_id: {{ object.id }},
                comment: $('#comment').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (response) {
                $(location).attr('href', "{% url 'personal-area' %}");
            },
            error: function (responce) {

                $('#warning').text("Что-то пошло не так...");
                console.log("Some Error just happened...");
            }
        });
    });

    $('.like').on('click', function () {
        let action = 1;
        let class_data = $(this).attr('class');
        if (class_data.indexOf('liked') != -1)
            action = 0;
        let name = $(this).attr('data');
        $.ajax({
            url: '{% url 'like-action' %}',
            type: 'POST',
            data: {
                photoshoot_id: {{ object.id }},
                action: action,
                name: name,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (response) {
                $(`button[data='${response.name}']`).each(function () {
                    if (response.step == '1')
                        $(this).attr("class", $(this).attr("class") + "liked");
                    else
                        $(this).attr("class", $(this).attr("class").replace("liked", ""));
                })
                //TODO: liked doesn't safe until refresh page
                let element = $(`a[href*='${response.name}']`)

                if (response.step == '1')
                    element.attr('liked', '1');
                else
                    element.attr('liked', null);
                UpdateText(response.count);
            },
            error: function (responce) {
                console.log("Some Error just happened...");
            }
        });
    });
});

function UpdateText(count) {
    $('.count').text(count);
    if (count < {{ object.num_choose }}) {
        $('#warning').text("Вы выбрали мало фотографий, однако если вы уверены, нажимайте Потвердить.");
        $('#confirm').prop('disabled', false);
    }
    if (count > {{ object.num_choose }}) {
        $('#warning').text("К сожалению, вы выбрали слишком много фотографий. Выберите нужное количество или напишите фотографу.");
        $('#confirm').prop('disabled', true);
    }
    if (count == {{ object.num_choose }}) {
        $('#warning').text("Ура!");
        $('#confirm').prop('disabled', false);
    }
}
</script>
{% endblock %}