{% extends "base.html" %}

{% block content %}
    <h1>Список ваших фотосессий</h1>

    {% if photo_shoot_list %}
    <ul>

      {% for photoset in photo_shoot_list %}
      <li class="{% if photoset.state == 2 %}text-danger{% endif %}">
          <h2>{{photoset.name}} </h2>
          <p>
              Стаутс: {{ photoset.state }} <br>
              {% if photoset.state == 2 %}
                 <p> Ссылка на мудборд: </p>
              {% endif %}
              {% if photoset.state == 1 %}
                <a href = {{ photoset.result_link }}>Ссылка на фотографии </a>
              {% endif %}
              {% if photoset.state == 4%}
                <p> Вам необходимо выбрать {{ photoset.num_choose }} снимков </p>
                  <a href = '/' > Выбрать </a>
              {% endif %}

          </p>
          <p>Дата съемки: {{ photoset.date }} </p>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Похоже, что вы еще не фотографировались(.</p>
    {% endif %}
{% endblock %}